body {
    color: rgba(0, 0, 0, .7) !important;
}

.cityscape {
    /* The image used */
    background-image: url("/img/planet.jpeg");

    /* Full height */
    height: 0%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-background {
    background-image: linear-gradient(#56B4D3, #348F50);
}

.chart-background {
    background-image: linear-gradient(#56B4D3, rgb(34, 94, 52));
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4.5px;
    margin-bottom: 20px;
    font-size: 45px;
}

.smallpad-left {
    padding-left: 25px !important;
}

.smallpad-right {
    padding-right: 25px !important;
}
.clock {
    display: inline-block;
    width: auto;
    margin: 1em;
}

.container {
    text-align: center;
}

.ui.header {
    color: #34495e;
}

.ui.table {
    color: rgba(0, 0, 0, .65);
}

.ui.table thead th {
    color: #7f8c8e;
}

.divider {
    width: 100%;
    background-color: #eee;
}

.border.right {
    border-right: 1px solid #eee;
}

.border.left {
    border-left: 1px solid #eee;
}


.margin-left.half {
    margin-left: 0.5em;
}

/* ----------- */
/* Margin Top */
/* ----------- */
.margin.top.one {
    margin-top: 1em;
}

.margin.top.one.and.half {
    margin-top: 1.5em;
}

.margin.top.two {
    margin-top: 2em;
}

.margin.top.two.and.half {
    margin-top: 2.5em;
}

.margin.top.seven {
    margin-top: 7em;
}


.uppercase {
    text-transform: uppercase;
}


/* ----------- */
/* Margin Bottom */
/* ----------- */
.margin.bottom.two {
    margin-bottom: 2em;
}


/* ----------- */
/* Width */
/* ----------- */
.width.one.and.eight {
    width: 1.4em;
}

/* CHANGE THIS TO CHANGE THE COLOR */
.gradient.emerald {
    background: #348F50 !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #56B4D3, #348F50) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #56B4D3, #348F50) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.buy-amount {
    background: white !important;
    margin-top: 10px !important;
}

.center-larger {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-warning {
    text-align: center;
    display: none;
}

.instruct-pic {
    margin-top: 10px;
}

.opacity {
    margin-right: 10px;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;
    border-radius: 5px;
}

.opacity:hover {
    background-color: rgba(0, 0, 0, .4);
}

.opacity-dark {
    margin-right: 10px;
    font-size: 1.42857143rem;
    color: white;
    background-color: rgba(0, 0, 0, .7);
    padding: 10px;
    border-radius: 5px;
}

.opacity-dark:hover {
    background-color: rgba(0, 0, 0, .9);
}



.small {
    font-size: 0.5em;
}

.button.price {

    padding-right: 15px !important;
    padding-left: 15px !important;

}

.small.eleven {
    font-size: 10px !important;
}

.no.click {
    cursor: default;
}


/*
    SCHEMA
*/
.ui.green.label {
    border-color: #348F50 !important;
    background-color: #348F50 !important;
}

.ui.green.button {
    background-color: #348F50;
}

.ui.email.button {
    background-color: #48a59d !important;
}

.ui.email.button:hover {
    background-color: #347771 !important;
}


.participate {
    background-color: #348F50 !important;
    margin-bottom: 10px !important;
}

.ui.green.button:hover {
    background-color: #235f35 !important;
}

.ui.basic.green.button {
    background-color: transparent;
    box-shadow: 0 0 0 1px #348F50 inset;
    color: #348F50;
}

.ui.orange.button:hover {
    background-color: #994712 !important;
}


i.green.icon {
    color: #348F50 !important;
}

.ui.green.text {
    color: #348F50;
}


.ui.teal.button {
    background-color: #48a59d;
}

.ui.teal.button:hover {
    background-color: #347771;
}

.ui.teal.text {
    color: #48a59d;
}


.ui.blue.label {
    border-color: #56B4D3 !important;
    background-color: #56B4D3 !important;
}

.ui.blue.button {
    background-color: #56B4D3;
}

.ui.blue.button:hover {
    background-color: rgb(62, 128, 150);
}

.ui.basic.blue.button {
    background-color: transparent;
    box-shadow: 0 0 0 1px #56B4D3 inset;
    color: #56B4D3;
}

i.blue.icon {
    color: #56B4D3 !important;
}

.ui.blue.text {
    color: #56B4D3;
}

.link.masternode {
    font-size: 12px;
}

.cropAddress {
    font-size: 12px;
}

.title {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}

.green {
    color: #61c87a;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, .60)
}

.sponsor {
    text-align: center;
}

.changelly {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.agreement {
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.onboard {
    padding: 10px;
}

.custom {
    max-width: 20%;
}

.etc-logo {
    margin-top: 20px;
}

.game-screenshot {
    border-radius: 10px;
}

.etc-small {
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.ui.primary.basic.button.copy {
    padding-left: 7px;
    padding-right: 0px;
}

.ui.primary.basic.button:hover {
    background-color: rgba(72, 165, 157, .2) !important;
}

.qtip-content {
    background-color: white;
}

.instruction {
    text-align: left;
}

.faq {
    font-size: 20px;
    /* font-family: "Times New Roman", Times, serif; */
    text-align: left;
}

.disclaimer {
    font-size: 14px;
}

.reinvest {
    padding-top: 10px;
}

.saturn {
    max-width: 40% !important;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
}

.portfolio#portfolioButton {
    display: inline;
}

.green {
    color: green;
}

.red {
    color: red;
}

.main-stats {
    padding-top: 0px !important;
}

.stats.icon {
    margin-right: 7px;
    display: inline;
}

.feature-title {
    margin-top: 5px !important;
}

.airdrop {
    font-size: initial;
}

.alert-text {
    text-align: center;
}

.coinbase-override {
    font-size: 1.14285714rem !important;
    font-family: Lato !important;
    margin-bottom: 10px;
}

.pure-holdings {
    color: green !important;
    font-size: 1rem !important;
}

/* Mobile */
@media only screen and (max-width: 989px) {

    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="custom-computer only"]:not(.mobile),
    [class*="large screen only"]:not(.mobile),
    [class*="widescreen only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 990px) and (max-width: 991px) {

    [class*="mobile only"]:not(.tablet),
    [class*="tablet hidden"],
    [class*="custom-computer only"]:not(.tablet),
    [class*="large screen only"]:not(.tablet),
    [class*="widescreen only"]:not(.tablet),
    [class*="or lower hidden"]:not(.mobile) {
        display: none !important;
    }
}

/* custom-computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) {

    [class*="mobile only"]:not(.custom-computer),
    [class*="tablet only"]:not(.custom-computer),
    [class*="custom-computer hidden"],
    [class*="large screen only"]:not(.custom-computer),
    [class*="widescreen only"]:not(.custom-computer),
    [class*="or lower hidden"]:not(.tablet):not(.mobile) {
        display: none !important;
    }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="mobile only"]: not([class*="large screen"]),
        [class*="tablet only"]:not([class*="large screen"]),
        [class*="custom-computer only"]:not([class*="large screen"]),
        [class*="large screen hidden"],
        [class*="widescreen only"]:not([class*="large screen"]),
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
    [class*="mobile only"]: not([class*="widescreen"]),
        [class*="tablet only"]:not([class*="widescreen"]),
        [class*="custom-computer only"]:not([class*="widescreen"]),
        [class*="large screen only"]:not([class*="widescreen"]),
        [class*="widescreen hidden"]
}

/* CANDLE STICKS */


.upGreenArrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 12px 4.5px;
    border-color: transparent transparent #00ff00 transparent;
 }
   
 .downRedArrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 4.5px 0 4.5px;
    border-color: #ff0000 transparent transparent transparent;
 }
 
 .upArrow{
   position: relative;
   top: -15px;
   left: -10px;
   width:0;
   height:0;
   border: 6px solid transparent;
   border-bottom-color: #00ff00;
 }
 .upArrow:after{
   position: absolute;
   content: '';
   top: 20px;
   left: -3px;
   width: 6px;
   height: 10px;
   background: #00ff00;
 }
 
 .downArrow{
   position: relative;
   top: 18px;
   left: -10px;
   width: 0;
   height: 0;
   border: 6px solid transparent;
   border-top-color: #ff0000;
 }
 .downArrow:after{
   position: absolute;
   content: '';
   top: -15px;
   left: -3px;
   width: 6px;
   height: 10px;
   background: #ff0000;
 }
 
 
 /* d3 candle stick start */
 
 .axis path,
 .axis line {
     fill: none;
     stroke: black;
     shape-rendering: crispEdges;
 }
 
 .axis text {
     font-family: 'Open Sans', sans-serif;
     font-size: 17px;
     fill: black;
 }
 
 /* d3 candle stick end */
 
 body {
   background-color: white;
 }

 select {
    height: 40px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    margin-bottom: 0px; 
    background: rgba(0, 0, 0, .1) !important;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgba(0, 0, 0, .7) !important;
    color: #56B4D3;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
  }